@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

//Weird Bulma Styling Fixes
.input,
.textarea,
.select select {
  border-color: $input-border-color !important;
}

//Custom CSS
nav a {
  font-size: 1.2rem !important;
  margin: 0.8rem 0;
}

.nav-logo,
.logo-icon {
  color: $primary;
}

.score-ring-bg {
  fill: none;
  stroke: rgb(213, 213, 213);
  stroke-width: 4;
}

.score-ring-circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  stroke: $primary;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.score-ring-percentage {
  fill: $grey-dark;
  font-size: 0.5em;
  text-anchor: middle;
}

.board-column {
  height: 40em;
  overflow: scroll;
  padding: 2em 2em;
  padding-bottom: 15em;
}
.board-card {
  cursor: pointer;
}

.badge-preview {
  display: inline-block !important;
}

// For Embedded View in Result Page
@media only screen and (max-width: 300px) {
  //Match iframe dimensions
  .hide-nav {
    display: none !important;
  }
}

.dashboard-card {
  height: 300px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: scale(1.02);
}

.search-results {
  min-height: 40em;
}

.loading-spinner .button {
  border: 0;
  outline: none;
}

.loading-spinner {
  margin: 10em 0;

  .button.is-loading::after,
  .loader,
  .select.is-loading::after,
  .control.is-loading::after {
    height: 5em;
    width: 5em;
  }
}

.score-breakdown-card {
  height: 20em;
}

.header {
  height: 15em;
}
